@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-container {
  display: flex;       /* Enables flexbox */
  flex-direction: row; /* Aligns children in a row */
  align-items: stretch; /* Stretches items to fill the container vertically */
  height: 100vh;       /* Sets the height of the container to fill the viewport */
}
